importMethodsFrom(GenomicRanges, seqnames)
importMethodsFrom(IRanges, colnames, "colnames<-", diff,
                  elementMetadata, lapply, mean, ncol, nrow,
                  Rle, sort, width)
importFrom(GenomicRanges, GRanges)
importFrom(graphics, lines, plot)
importFrom(stats, median, quantile, sd)
importFrom(IRanges, IRanges)

export(fastseg)
export(toDNAcopyObj)
useDynLib(fastseg)
